{% extends "base.html" %}

{% block title %}Catalogue{% endblock %}

{% block body %}
 
<main>
   <header class="filtreHeader">
      <input type="checkbox" id="filtre" class="filtre-button">
      <div>
         <span>
            <select>
               <option selected>tri</option>
               <option>prix</option>
            </select>
            <label for="filtre" class="filtre button"></label>
         </span>
      </div>
      <div>
         <span>
            {% for pays in listepays %}
            <input type="radio" name="pays" id="pays{{pays.id}}" value="{{pays.id}}" {{ donnees.pays == pays.id ? 'checked' : ''}} form="search">
            <label for="pays{{pays.id}}" {{ donnees.pays==pays.id ? ' selected ' : '' }}>{{pays.nom}}</label>
            {% endfor %}
         </span>
         <span>
         <input type="radio" name="encours" id="ts" form="search">
         <label for="ts">Tous</label>
         <input type="radio" name="encours" id="pss" value="0" form="search" {{ donnees.encours == 0 ? 'checked' : ''}}>
         <label for="pss">Passés</label>
         <input type="radio" name="encours" id="encrs" value="1" form="search" {{ donnees.encours == 1 ? 'checked' : ''}}>
         <label for="encrs">En cours</label>
         </span>
         <span>
            <input type="submit" value="filtrer" class="main-action" form="search">
         </span>
      </div>
      <h4>{{ encheres[0].total }} enchere(s) depuis jan. 2021</h4>
   </header>
   <section class="grille">
      {% if encheres %}
      {% include 'Partials/carteenchere.html' %}
      <label class="cta-secondaire">afficher plus</label>
      {% else %}
      Aucune enchère.
      {% endif %}
   </section>
</main>
<article>
   <h2>Comment ca marche</h2>
   <section>
      <p>
         Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto nulla deserunt quas veniam explicabo, eos magni eum hic suscipit, esse ea molestias inventore eius? Quisquam fuga exercitationem iste earum, tempora cumque a. Repellendus optio quidem itaque unde soluta inventore, doloribus ullam fuga nostrum nemo ad, maxime sit, voluptatibus officia tempore.
      </p>
      <p>
         Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto nulla deserunt quas veniam explicabo, eos magni eum hic suscipit, esse ea molestias inventore eius? Quisquam fuga exercitationem iste earum, tempora cumque a. Repellendus optio quidem itaque unde soluta inventore, doloribus ullam fuga nostrum nemo ad, maxime sit, voluptatibus officia tempore.
      </p>
   </section>
</article>

{% endblock %}
