{% extends "base.html" %}

{% block title %}Stampe{% endblock %}

{% block body %}

<section class="proposition">
    <img src="/images/proposition-valeur.jpg" alt="Proposition de valeur">
    <header>
       <h1>Encheres Royals</h1>
       <small>vente timbres</small>
    </header>
    <footer>
       <p>
          Lorem ipsum dolor sit amet consectetur. Accusantium, dolores.
       </p>
       <a href="" class="cta-principal">Abonnez-vous</a>
    </footer>
 </section>
 <main>
    <header class="entete-importante">
       <h2>Encheres en vedette</h2>
    </header>
    <article class="grille vedette scrollable">
       <article>
          <img src="/images/stamp-5.png" alt="un timbre precieux">
          <div>
             <h3>
                Bloody marry
             </h3>
             <span>
             Est. 800 - 1 900 cad
             </span>
             <span>
             en cours 1 745 cad
             </span>
             <p>
                praesentium minus veritatis delectus at as Porro saepe excepturi hic, inventore mollitia periores? Voluptas, alias assumenda. Voluptatem quis amet a ratione ad maxime.
             </p>
             <footer>
                <a href="/fiche/index/1" class="cta-secondaire">placer mise</a>
             </footer>
          </div>
       </article>
       <article>
          <img src="/images/stamp-1.png"  alt="un timbre ancien">
          <div>
             <h3>
                China 1970
             </h3>
             <span>
             Est. 2 000 - 15 000 cad
             </span>
             <span>
             en cours 13 650 cad
             </span>
             <p>
                mollitia praesentium minus veritatis delectus at asperiores? Voluptas, alias assumenda. Voluptatem quis amet a ratione ad maxime.
             </p>
             <footer>
                <a href="/fiche/index/1" class="cta-secondaire">placer mise</a>
             </footer>
          </div>
       </article>
       <article>
          <img src="/images/stamp-2.png"  alt="timbre beau marché">
          <div>
             <h3>
                Min Azrihim 88
             </h3>
             <span>
             Est. 18 - 25 cad
             </span>
             <span>
             en moins de 10 min
             </span>
             <p>
                invenus at asperiores? Voluptas, alias assumenda. Voluptatem quis amet a ratione ad maxime.
             </p>
             <footer>
                <a href="/fiche/index/1" class="cta-secondaire">placer mise</a>
             </footer>
          </div>
       </article>
       <article>
          <img src="/images/stamp-7.png"  alt="timbre canada">
          <div>
             <h3>
                Millinium
             </h3>
             <span>
             Est. 18 - 25 cad
             </span>
             <span>
             en moins de 10 min
             </span>
             <p>
                invenus at asperiores? Voluptas, alias assumenda. Voluptatem quis amet a ratione ad maxime.
             </p>
             <footer>
                <a href="/fiche/index/1" class="cta-secondaire">placer mise</a>
             </footer>
          </div>
       </article>
    </article>
    <header class="entete-importante">
       <h2>Actualités</h2>
    </header>
    <article class="actualite scrollable">
       <section>
          <header>Forbes 500</header>
          <p>
             <img src="/images/actualite-1.jpg" alt="Forbes 500 en parle de nous">
             En fin... Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut consequuntur esse, repudiandae suscipit quo eligendi nisi laboriosam repellat enim similique repellendus eum excepturi ipsam, beatae consectetur! Laborum consequatur rerum tempore.
          </p>
          <a href="">lire plus...</a>
       </section>
       <section>
          <header>Acquisition de startup</header>
          <p>
             <img src="/images/actualite-2.jpg" alt="Acquisition de startup">
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut consequuntur esse, repudiandae suscipit quo eligendi nisi laboriosam repellat enim similique repellendus eum excepturi ipsam, beatae consectetur! Laborum consequatur rerum tempore.
          </p>
          <a href="">lire plus...</a>
       </section>
       <section>
          <header>Nouvelle procedure d'enchere</header>
          <p>
             <img src="/images/actualite-3.jpg" alt="nouvelle procedure d'enchere">
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut consequuntur esse, repudiandae suscipit quo eligendi nisi laboriosam repellat enim similique repellendus eum excepturi ipsam, beatae consectetur! Laborum consequatur rerum tempore.
          </p>
          <a href="">lire plus...</a>
       </section>
       <section>
          <header>New York Times</header>
          <p>
             <img src="/images/actualite-4.jpg" alt="New York Times">
             En fin... Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut consequuntur esse, repudiandae suscipit quo eligendi nisi laboriosam repellat enim similique repellendus eum excepturi ipsam, beatae consectetur! Laborum consequatur rerum tempore.
          </p>
          <a href="">lire plus...</a>
       </section>
    </article>
    <header class="entete-importante">
       <h2>Presentation du lord stampee</h2>
    </header>
    <article class="lord">
       <img src="/images/lord-2.jpg" alt="lord stampee">
       <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod soluta sequi, incidunt adipisci corrupti veritatis nisi dolorem quia rerum reprehenderit optio id fugit voluptatem vero possimus vel aliquid aperiam ab. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod soluta sequi, incidunt adipisci corrupti veritatis nisi dolorem quia rerum <a href="#">voir l'histoire</a>
       </p>
    </article>
    <header class="entete-importante">
       <h2>Astuces phelatilistes</h2>
    </header>
    <article class="astuces scrollable">
       <div>
          <h4>Réeussir son enchere</h4>
          <p>
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam magnam laudantium error harum voluptas deserunt porro, tenetur ipsum repellendus possimus dolor, iusto nulla tempora illum unde, sed natus mollitia eum
          </p>
          <a href="">en savoir plus</a>
       </div>
       <div>
          <h4>Avantages de notre platforme</h4>
          <p>
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam magnam laudantium error harum voluptas deserunt porro, tenetur ipsum repellendus possimus dolor, iusto nulla tempora illum unde, sed natus mollitia eum?
          </p>
          <a href="">témoignage</a>
       </div>
       <div>
          <h4>Nouvelles regles de jeu</h4>
          <p>
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam magnam laudantium error harum voluptas deserunt porro, tenetur ipsum repellendus possimus dolor, iusto nulla tempora illum unde, sed natus mollitia eum?
          </p>
          <a href="">plus de détails</a>
       </div>
    </article>
 </main>
 

{% endblock %}
