{% extends "base.html" %}

{% block title %}Fiche timbre{% endblock %}

{% block body %}

<main class="fiche-enchere">
   <section class="timbres-image">
      <span class="coup-coeur"></span>
      <div class="image-courante">
         <input type="checkbox" id="zoom">
         <picture>
            <img src="/images/stamp-1.png"  alt="un timbre precieux">
         </picture>
         <label for="zoom" class="libele-zoom"></label>
         <label for="zoom" class="libele-zoom"></label>
         <span class="certifie"></span>
      </div>
      <footer class="scrollable">
         <img src="/images/stamp-1.png" alt="un timbre precieux" class="selectionee">
         <img src="/images/stamp-2.png" alt="un timbre rare">
         <img src="/images/stamp-3.png" alt="un timbre pas chere">
         <img src="/images/stamp-4.png" alt="timbre de collection">
         <img src="/images/stamp-5.png" alt="un timbre royal">
      </footer>
   </section>
   <section class="enchere-description">
      <div class="dates">
         <b>09 Juil. 2022</b>
         <span>à</span>
         <b>25 Juil. 2022</b>
      </div>
      <article class="prix">
         <div>
            <span>prix plancher:</span>
            <em>5 000</em> <sub>CAD</sub>
         </div>
         <div>
            <span>éstimation:</span>
            <em>8 000 à 30 000</em><sub>CAD</sub>
         </div>
         <footer>
            <span>Derniére mise</span>
            <div><b>18 200</b> <sub>CAD</sub></div>
         </footer>
      </article>
      <footer>
         <a href="#" class="cta-principal placer-mise">
         placer mise
         </a>
         <a href="#" class="cta-secondaire ajouter-favoris">ajouter favoris</a>
         <span class="almost-late">il reste 28 heures</span>
      </footer>
      <article class="mises">
         <header>
            25 mises (5 aujourd'hui)
         </header>
         <input type="checkbox" id="tous-mise">
         <ul>
            <li>
               <span>Mohammed Bourahla</span> 17 900 cad
            </li>
            <li>
               <span>anonyme</span> 17 500 cad
            </li>
            <li>
               <span>anonyme</span>  17 250 cad
            </li>
            <li>
               <span>Gauthier Morin</span>  17 100 cad
            </li>
            <li>
               <span>anonyme</span>  16 500 cad
            </li>
         </ul>
         <label for="tous-mise" class="aficacher">afficher les autres</label>
         <label for="tous-mise" class="aficacher">cacher</label>
      </article>
   </section>
   <section class="timbre-description">
      <header>
         Postal History of the World
      </header>
      <p>
         Lot 27 - 1869 15c brown & blue, Type II, center inverted, lightly canceled, tiny thin at bottom right, small horizontal crease at bottom left, with two PFCs no longer accompanying, ex 2010 Siegel Rarities of the World, Sale 989 ($10,500 hammer) (PFC No. 125146 - "small horizontal crease top left and thin bottom right";
      </p>
      <p>
         PFC No.488607 - "tiny corner thin bottom right, small horizontal crease top left") (Siegel Census records three unused and 102 used copies, of which approximately only 15 are sound, includ
      </p>
      <table>
         <tr>
            <td>Créé le:</td>
            <td>05 juil. 1865</td>
         </tr>
         <tr>
            <td>Couleur(s):</td>
            <td>blue rouge jaune</td>
         </tr>
         <tr>
            <td>Pays d'origine:</td>
            <td>Canada</td>
         </tr>
         <tr>
            <td>Condition:</td>
            <td>Bonne</td>
         </tr>
         <tr>
            <td>Tirage:</td>
            <td>25</td>
         </tr>
         <tr>
            <td>Dimensions:</td>
            <td>5cm / 7cm</td>
         </tr>
      </table>
   </section>
</main>
<article>
   <h2>Encheres pertinents</h2>
   <section class="grille">
      <article>
         <span class="coup-coeur"></span>
         <img src="/images/stamp-1.png"  alt="un timbre simple">
         <div>
            <h3>
               independence heros
            </h3>
            <span>
            Est. 400 - 500 cad
            </span>
            <span>
            dans 1 jour
            </span>
            <p>
               saepe excepturi hic, inventore at asperiores? Voluptas, alias assumenda. Voluptatem quis amet a ratione ad maxime.
            </p>
            <footer>
               <a href="/fiche/index/1" class="cta-secondaire">placer mise</a>
            </footer>
         </div>
      </article>
      <article>
         <img src="/images/stamp-2.png"  alt="un timbre precieux">
         <div>
            <h3>
               Lead the movement
            </h3>
            <span>
            Est. 100 - 350 cad
            </span>
            <span>
            en cours 100 cad
            </span>
            <p>
               mollitia praesentium minus veritatis delectus at asperiores? Voluptas, alias assumenda. Voluptatem quis amet a ratione ad maxime.
            </p>
            <footer>
               <a href="/fiche/index/1" class="cta-secondaire">placer mise</a>
            </footer>
         </div>
      </article>
      <article>
         <img src="/images/stamp-3.png"  alt="un timbre historique">
         <div>
            <h3>
               new era
            </h3>
            <span>
            Est. 400 - 500 cad
            </span>
            <span>
            en cours 425 cad
            </span>
            <p>
               Porro saepe excepturi hic, inventore mollitia praesentium minus veritatis delectus at asperiores? Voluptas, alias assumenda. Voluptatem quis amet a ratione ad maxime.
            </p>
            <footer>
               <a href="/fiche/index/1" class="cta-secondaire">placer mise</a>
            </footer>
         </div>
      </article>
   </section>
</article>

{% endblock %}
