{% extends "base.html" %}

{% block title %}Fiche: {{ donnees.titre }} {% endblock %}

{% block body %}

{% if enchere %}
<main class="fiche-enchere">
   <section class="timbres-image">
      <span class="{{ enchere.a_coup_de_coeur_lord ? 'coup-coeur' : '' }}"></span>
      <div class="image-courante">
         <input type="checkbox" id="zoom">
         <picture>
            <img
            {% if enchere.image_principale %}
               src="{{enchere.image_principale}}"
            {% else %}
               src="https://picsum.photos/200?random={{ random() }}"
            {% endif %}
            alt="{{ enchere.titre_timbre_principal }}"
            >
         </picture>
         <label for="zoom" class="libele-zoom"></label>
         <label for="zoom" class="libele-zoom"></label>
         <span class="certifie"></span>
      </div>
      <footer class="scrollable">
         {% for image in images %}
            <img src="{{ image.fichier }}" alt="{{ image.nom_timbre }}" class="{{ image.est_principal ? 'selectionee' : '' }}">
         {% else %}
            {% for i in 1..5 %}
               <img src="https://picsum.photos/200?random={{ random() }}" class="{{ i==1 ? 'selectionee' : '' }}">
            {% endfor %}
         {% endfor %}
      </footer>
   </section>
   <section class="enchere-description">
      <div class="dates">
         <b>{{ enchere.debut }}</b>
         <span>à</span>
         <b>{{ enchere.fin }}</b>
      </div>
      <article class="prix">
         <div>
            <span>prix plancher:</span>
            <em>{{ enchere.prix_plancher }}</em> <sub>CAD</sub>
         </div>
         <!-- <div>
            <span>éstimation:</span>
            <em>8 000 à 30 000</em><sub>CAD</sub>
         </div> -->
         <footer>
            <span>Derniére mise</span>
            <div><b>{{ enchere.offre_actuel ?? '-' }}</b> <sub>CAD</sub></div>
         </footer>
      </article>
      <footer>
         {% if enchere.peut_rajouter %}
            {% if donnees.connecte %}
            <label class="cta-principal placer-mise" for="mise">
               {% if enchere.mise %}
                  misé ({{ enchere.mise }} cad) &#10004;
               {% else %}
                  placer mise
               {% endif %}
            </label>
         
            {% if enchere.est_favoris %}
            <a href="/favoris/index" class="cta-secondaire ajouter-favoris">déja favoris &#10004;</a>
            {% else %}
            <a href="/favoris/ajouter/{{ enchere.id }}" class="cta-secondaire ajouter-favoris">ajouter favoris</a>
            {% endif %}

            {% if enchere.heures_restantes %}
            <span class="almost-late">il reste {{ enchere.heures_restantes }} heures</span>
            {% endif %}
            
            <input type="checkbox" id="mise" {{ required.mise ? 'checked' : '' }} {{ error.mise  ? 'checked' : '' }}>
            <form class="form placer-mise-form" action="/fiche/placermise/{{ enchere.id }}" method="post">
               <fieldset class="controles">
                  <label>Entrer la mise en cad svp</label>
                  <input type="number" name="mise" value="{{ original.mise }}" placeholder="votre offre içi" class="{{ required.mise ? 'requi' : (error.mise ? 'erreur' : '') }}" min="{{ enchere.offre_actuel }}">
                  <span class="message-requi">{{required.mise}}</span>
                  <span class="message-erreur">{{error.mise}}</span>
               </fieldset>
               <fieldset class="controles formulaire-seulement">
                  <button class="main-action">enregistrer</button>
                  <label class="secondary-action" for="mise">annuler</label>
               </fieldset>
            </form>
            {% else %}
            <a href="/profile/connecter" class="cta-principal placer-mise">placer mise</a>
            <a href="/profile/connecter" class="cta-secondaire ajouter-favoris">ajouter favoris</a>
            {% endif %}

         {% else %}
         <label class="cta-principal placer-mise disabled">mise</label>
         <a class="cta-secondaire ajouter-favoris disabled">ajouter favoris</a>
         {% endif %}

      </footer>
      <article class="mises">
         <header>
            {{ enchere.compte_mises }} mises (1 aujourd'hui)
         </header>
         {% if mises %}
         <input type="checkbox" id="tous-mise">
         <ul>
            {% for mise in mises %}
            <li>
               <span>{{ mise.nom }}</span> {{ mise.valeur }} cad
            </li>
            {% endfor %}
         </ul>
         <label for="tous-mise" class="aficacher">afficher les autres</label>
         <label for="tous-mise" class="aficacher">cacher</label>
         {% endif %}

      </article>
      <article class="commentaire-enchere">
         <header>
            {{ enchere.titre }}
         </header>
         <p>
            {{ enchere.commentaire }}
         </p>
      </article>
   </section>
   <section class="timbre-description">
      
      {% for timbre in timbres %}
      <table>
         <tr>
            <th colspan="2">{{ loop.index }} - {{ timbre.nom }}</th>
         </tr>
         <tr>
            <td>Créé en:</td>
            <th>{{ timbre.date_de_creation }}</th>
         </tr>
         <tr>
            <td>Couleur(s):</td>
            <th>{{ timbre.couleur }}</th>
         </tr>
         <tr>
            <td>Pays d'origine:</td>
            <th>{{ timbre.pays }}</th>
         </tr>
         <tr>
            <td>Etat:</td>
            <th>{{ timbre.etat }}</th>
         </tr>
         <tr>
            <td>Tirage:</td>
            <th>{{ timbre.tirage }}</th>
         </tr>
         <tr>
            <td>Dimensions:</td>
            <th>{{ timbre.largeur }} / {{ timbre.longueur }}</th>
         </tr>
      </table>
      {% endfor %}
   </section>
   {% else %}
   <h2>Enchère hors ligne</h2>
   {% endif %}   
</main>

<article>
   {% if encheres %}
   <h2>Encheres pertinentes</h2>
   <section class="grille">
      {% include 'Partials/carteenchere.html' %}
   </section>
   {% else %}
   <h2>Aucune enchère pertinente</h2>
   {% endif %}
</article>

{% endblock %}
